[push]
	default = upstream
[user]
	name = Xiao Sun
	email = xiao@ledgy.com
[color]
	ui = auto
[core]
	excludesfile = /home/xiao/.gitignore
	editor = code
[github]
	user = XiaoSunXS
[diff]
	submodule = log
[column]
	ui = auto,dense
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
